@model CollectionManager.Models.Collection.CollectionItemDataPair

@{
    ViewData["Title"] = "DeleteItem";
}
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<h1>@Model.collection.Title</h1>

<h3>@Localizer["Delete title"]</h3>
<hr />
<div>
    <dl class="row">
        <partial name="_ItemPartial" model="Model" />
    </dl>
    <form asp-action="DeleteItem">
        <input type="hidden" asp-for="item.EntireItemViewModelId" />
        <input type="hidden" asp-for="item.CollectionId" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="View" asp-controller="CollectionItems" asp-route-id="@Model.item.EntireItemViewModelId">@Localizer["Back"]</a>
    </form>
</div>
