@using System.Security.Claims
@model CollectionManager.Models.Collection.CollectionItemDataPair

@{
    ViewData["Title"] = "View";
}
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<a asp-action="Profile" asp-controller="UserCollections" asp-route-id="@Model.collection.OwnerId">@Model.OwnerName</a>\
<a asp-action="View" asp-controller="Collection" asp-route-id="@Model.collection.EntireCollectionViewModelId">@Model.collection.Title</a>\
<a asp-action="View" asp-controller="CollectionItems" asp-route-id="@Model.item.EntireItemViewModelId">@Model.item.Name</a>
<div class="d-flex justify-content-between">
    <h2>@Model.item.Name</h2>
    <div>
        <a class="btn btn-primary" asp-action="View" asp-controller="Collection" asp-route-id="@Model.collection.EntireCollectionViewModelId">@Localizer["Back"]</a>
        <a class="btn btn-primary" asp-action="EditItem" asp-controller="CollectionItems" asp-route-id="@Model.item.EntireItemViewModelId">@Localizer["Edit"]</a>
        <a class="btn btn-danger" asp-action="DeleteItem" asp-controller="CollectionItems" asp-route-id="@Model.item.EntireItemViewModelId">@Localizer["Delete"]</a>
    </div>
</div>
<hr />
<div>
    <div class="d-flex w-100 justify-content-between flex-wrap">
        <div class="w-auto p-0 me-2" style="min-width:100px">
            @if (Model.collection.CustomStringState1 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomStringName1):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomStringField1)</dd>
                </div>
            }
            @if (Model.collection.CustomStringState2 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomStringName2):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomStringField2)</dd>
                </div>
            }
            @if (Model.collection.CustomStringState3 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomStringName3):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomStringField3)</dd>
                </div>
            }
        </div>
        <div class="w-auto p-0 me-2" style="min-width:100px">
            @if (Model.collection.CustomIntState1 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomIntName1):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomIntField1)</dd>
                </div>
            }
            @if (Model.collection.CustomIntState2 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomIntName2):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomIntField2)</dd>
                </div>
            }
            @if (Model.collection.CustomIntState3 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-1">@Html.DisplayFor(model => model.collection.CustomIntName3):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomIntField3)</dd>
                </div>
            }
        </div>
        <div class="w-auto px-0 me-2" style="min-width:100px">
            @if (Model.collection.CustomBoolState1 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomBoolName1):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomBoolField1)</dd>
                </div>
            }
            @if (Model.collection.CustomBoolState2 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomBoolName2):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomBoolField2)</dd>
                </div>
            }
            @if (Model.collection.CustomBoolState3 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomBoolName3):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomBoolField3)</dd>
                </div>
            }
        </div>
        <div class="w-auto p-0" style="min-width:100px">
            @if (Model.collection.CustomDateState1 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomDateName1):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomDateField1)</dd>
                </div>
            }
            @if (Model.collection.CustomDateState2 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomDateName2):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomDateField2)</dd>
                </div>
            }
            @if (Model.collection.CustomDateState3 == CollectionFieldState.TRUE)
            {
                <div class="form-group d-flex">
                    <dt class="me-2">@Html.DisplayFor(model => model.collection.CustomDateName3):</dt>
                    <dd>@Html.DisplayFor(model => model.item.CustomDateField3)</dd>
                </div>
            }
        </div>
        <div class="w-100 p-0 mb-2" style="min-width:100px">

            @if (Model.collection.CustomTextState1 == CollectionFieldState.TRUE)
            {
                <div class="form-group">
                    <dt>
                        @Html.DisplayFor(model => model.collection.CustomTextName1):
                    </dt>
                    <div class="container fit">
                        @Markdown.ParseHtmlString(HtmlUtils.SanitizeHtml(Model.item.CustomTextField1, "script|input|iframe|object|embed|form|button"))
                    </div>
                </div>
            }
            @if (Model.collection.CustomTextState2 == CollectionFieldState.TRUE)
            {
                <div class="form-group">
                    <dt>
                        @Html.DisplayFor(model => model.collection.CustomTextName2):
                    </dt>
                    <div class="container fit">
                        @Markdown.ParseHtmlString(HtmlUtils.SanitizeHtml(Model.item.CustomTextField2, "script|input|iframe|object|embed|form|button"))
                    </div>
                </div>
            }
            @if (Model.collection.CustomTextState3 == CollectionFieldState.TRUE)
            {
                <div class="form-group">
                    <dt>
                        @Html.DisplayFor(model => model.collection.CustomTextName3):
                    </dt>
                    <div class="container fit">
                        @Markdown.ParseHtmlString(HtmlUtils.SanitizeHtml(Model.item.CustomTextField3, "script|input|iframe|object|embed|form|button"))
                    </div>
                </div>
            }
        </div>
    </div>
    <partial name="_StaticTagsCloud" model="Model.item.Tags"></partial>
</div>
<div>
    <component type="typeof(ItemSocialSection)" render-mode="ServerPrerendered" param-curItem="@new GeneralItemViewModel(Model.item.EntireItemViewModelId,Model.item.CollectionId,Context.User.FindFirstValue(ClaimTypes.NameIdentifier))" />
</div>
