@model CollectionManager.Models.User.UserProfileDataModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h3>User name: @Model.User.UserName</h3>
    <h3>Email: @Model.User.UserEmail</h3>
    <hr />
    @if (Model.SetAsOwner)
    {
        <a class="btn btn-primary" asp-action="Create" asp-controller="Collection" asp-route-id="@Model.User.Id">Create</a>
    }
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Theme</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collections)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Theme</td>
                    <td>
                        <a class="btn btn-info" asp-action="View" asp-controller="Collection" asp-route-id="@item.EntireCollectionViewModelId">View</a>
                        @if (Model.SetAsOwner)
                        {
                            <a class="btn btn-warning" asp-controller="Collection" asp-action="Edit" asp-route-id="@item.EntireCollectionViewModelId">Edit</a>
                            <a class="btn btn-danger" asp-controller="Collection" asp-action="Delete" asp-route-id="@item.EntireCollectionViewModelId" asp-route-returnUrl="@Context.Request.Path">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
