@model CollectionManager.Controllers.UserCollectionsOut

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h3>User name: @Model.User.UserName</h3>
    <h3>Email: @Model.User.UserEmail</h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Theme</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Collections)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Theme</td>
                    <td><a class="btn btn-info" asp-action="Collection" asp-route-id="@item.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
