@model IEnumerable<CollectionManager.Models.User.EntireUserViewModel>

@{
    ViewData["Title"] = "Users";
}
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<h1>@Localizer["Users"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Id"]
            </th>
            <th>
                @Localizer["Username"]
            </th>
            <th>
                @Localizer["Email"]
            </th>
            <th>
                @Localizer["Phone"]
            </th>
            <th>
                @Localizer["Role"]
            </th>
            <th>
                @Localizer["Is Blocked"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    @(item.IsBlocked ? Localizer["Blocked"] : Localizer["Active"])
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="ChangeLockState" asp-route-id="@item.Id">@(item.IsBlocked ? Localizer["Unlock"] : Localizer["Lock"])</a>
                    <a class="btn btn-dark" asp-action="ChangeAdminRoleState" asp-route-id="@item.Id">@(item.UserRole == "user" ? Localizer["Adm"] : Localizer["Unop"])</a>
                    <a class="btn btn-info" asp-action="Profile" asp-route-id="@item.Id" asp-controller="UserCollections">@Localizer["View"]</a>
                    <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
