@model CollectionManager.Models.Collection.EntireCollectionViewModel

@{
    ViewData["Title"] = "Delete";
}
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<h1>@Model.Title</h1>

<h3>@Localizer["Title"]</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Owner"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class="col-sm-2">
            @Localizer["TitleCol"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Category"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt class="col-sm-2">
            @Localizer["PicLink"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureLink)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EntireCollectionViewModelId" />
        <input type="hidden" asp-for="OwnerId" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="View" asp-route-id="@Model.EntireCollectionViewModelId">@Localizer["Back"]</a>
    </form>
</div>
