@model CollectionManager.Models.Collection.DataCollectionViewModel

@{
    ViewData["Title"] = "View";
}
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<div>
    <div class="d-flex w-100 justify-content-between">
        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
        @if (Model.SetAsOwner)
        {
            <div>
                <a class="btn btn-success" asp-action="AppendItem" asp-controller="CollectionItems" asp-route-id="@Model.EntireCollectionViewModelId">@Localizer["Append Item"]</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EntireCollectionViewModelId">@Localizer["Edit"]</a>
                <a class="btn btn-primary" asp-action="Profile" asp-controller="UserCollections" asp-route-id="@Model.OwnerId">@Localizer["Back"]</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.EntireCollectionViewModelId">@Localizer["Delete"]</a>
            </div>
        }
    </div>
    <hr />
    <dl class="row">
        <div class="row mb-3">
            <div class="col-6">
                
                <dt class="col-sm-2">
                    @Localizer["Category"]:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Theme)
                </dd>
            </div>
            <div class="col-6">
                <div style="width:100%;min-height:200px;background-image:url('@Model.PictureLink');background-size:contain;background-repeat:no-repeat;"></div>
            </div>
        </div>
        <dt class="col-sm-2">
            @Localizer["Description"]:
        </dt>
        <dd class="col-sm-10">
            <div class="w-100 fit">
                @Markdown.ParseHtmlString(HtmlUtils.SanitizeHtml(Model.Description,"script|input|iframe|object|embed|form|button"))
            </div>
        </dd>
    </dl>
    <dt>
        @Localizer["Items"]:
    </dt>
    <div class="row">
        @foreach(var item in Model.Items)
        {
            <partial name="_ItemPartial" model="new CollectionItemDataPair(item,Model)"/>
        }
    </div>
</div>

